{% extends 'flatpages/default.html' %}

{% load censor %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1> Все новости категории {{ post_category }} </h1>
    <em>{% current_time %}</em>
        {% if is_not_subscriber %}
            <p class="text-center"><a href="{% url 'subscribe' post_category.id %}" class="btn btn-secondary btn-sn">Подписаться</a> </p>
        {% endif %}

    {% if category_post_list %}
        <table>
            <tr>
                <td> Автор </td>
                <td> Категория </td>
                <td>заголовок</td>
                <td> содержания </td>
                <td> Дата публикации </td>
            </tr>
            {% for post in category_post_list %}
            <tr>
               <td>{{ post.author.user }}</td>
               <td>{% for category in post.post_category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
               <td><p class="link-read-post"><a href="{% url 'post_detail' post.pk %}">{{ post.post_title }}</a></p></td>
                <td>{{ post.post_text|truncatechars:20|censor }}</td>
               <td>{{ post.created_at|date:'d.m.Y.l.' }}</td>
           </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> Новостей в категории {{ category }} к сожалению нет </h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}