{% extends 'flatpages/default.html' %}

{% load censor %}
{% load custom_tags %}

{% block title %}
Все новости
{% endblock title %}

{% block content %}
   <h1>Поиск новостей</h1>
    <h3>{{ time_now|date:'d.m.Y.l.' }}</h3>

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
    {% for post in search %}
     <div>
     {{ post.author }}
     {{ post.post_title }}
     {{ post.created_at|date:'d.m.Y' }}
     {{ post.post_text|truncatechars:20 }}
     {{ post.get_post_kind_display }}
     </div>
    {% endfor %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}